extends base

block content
    img(src="img/wave.png", alt="", class='wave')
    .container
        .img
            img(src="img/bg.svg", alt="")
        .login-content      
            form.form--login
                img(src="img/avatar.svg", alt="")
                .input-div.one
                    .i
                        i.fas.fa-user
                    .div
                        h5 Email address
                        input#email.input(type='email', required)
                .input-div.pass
                    .i
                        i.fas.fa-lock
                    .div
                        h5 Password
                        input#password.input(type='password', required, minlength='8')
                .form__group
                    button.btn.btn--green Login

