extends base

block content
    img(src="img/wave.png", alt="", class='wave')
    .container
        .img
            img(src="img/bg.svg", alt="")
            //- signup-form (replace login-content with sigup-form in the future)
            .login-content   
                h2 Sign Up
                form.form--signup
                    img(src="img/avatar.svg", alt="")
                    .input-div.one
                        .i
                            i.fas.fa-male
                        .div
                            h5 First Name
                            input#signupFirstName.input(type='text', required)
                    .input-div.one
                        .i
                            i.fas.fa-home
                        .div
                            h5 Last Name
                            input#signupLastName.input(type='text', required)
                    .input-div.one
                        .i
                            i.fas.fa-user
                        .div
                            h5 Email Address
                            input#signupEmail.input(type='email', required)
                    .input-div.one
                        .i
                            i.fas.fa-lock
                        .div
                            h5 Password
                            input#signupPassword.input(type='password', required)
                    .input-div.one
                        .i
                            i.fas.fa-lock
                        .div
                            h5 Password Confirm
                            input#signupPasswordConfirm.input(type='password', required)
                    .form__group
                        button.btn.btn--green Sign Up
